$goldenRatio: 1.6180339887498948482;
$centerHeight: 400;
$centerWidth: $centerHeight * $goldenRatio;
// $boxHeight: 100;
// $boxWidth: $boxHeight * $goldenRatio;
$boxHeight: 100%;
$boxWidth: 100%;
$boxBorderRadius: 6px;

$box-blog-color: red;
$box-social-color: blue;
$box-github-color: green;
$box-misc-color: cyan;

// @mixin transform($property) {
//   -webkit-transform: $property;
//   -ms-transform: $property;
//   transform: $property;
@mixin onClick() {
  transform: scale(2.5);
  grid-area: boxCenter;
  z-index: 2;
}

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


.layout {
  height: 100vh;
  display: grid;

  // prettier-ignore
  grid:
    ". . .      " 1fr
    ". center . " $centerHeight * 1px
    ". . .      " 1fr
    / 1fr ($centerWidth * 1px) 1fr;

  @media (max-width: 512px) {
    // prettier-ignore
    grid: "center"   100vh / 1fr;
  }
}

.container {
  // border: 1px solid blue;
  grid-area: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // prettier-ignore
  grid-template-rows: 1fr minmax(0.2fr, 100%) 1fr;
  grid-template-areas: 
    "one   .            two "
    ".     boxCenter    .   "
    "three .            four";

  @media (max-width: 512px) {
    // prettier-ignore
    grid: "one"   1fr
          "two"   1fr
          "three" 1fr
          "four"  1fr
         / 1fr;
  }
}

.box {
  width: $boxWidth;
  height: $boxHeight;
  border-radius: $boxBorderRadius;
  position: relative;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  .title {
    color: white;
  }

  .body {
    color: hotpink;
  }

  &.blog {
    background-color: $box-blog-color;
    grid-area: one;

    &.clicked {
      @include onClick();
    }
  }

  &.github {
    background-color: $box-github-color;
    grid-area: three;
    align-self: end;

    &.clicked {
      @include onClick();
    }
  }

  &.social {
    background-color: $box-social-color;
    grid-area: two;
    justify-self: end;

    &.clicked {
      @include onClick();
    }
  }

  &.misc {
    background-color: $box-misc-color;
    grid-area: four;
    justify-self: end;
    align-self: end;

    &.clicked {
      @include onClick();
    }
  }

  @media (max-width: 512px) {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

// https://www.cssmatic.com/box-shadow
.shadow {
  -webkit-box-shadow: 0px 0px 47px -5px rgba(0,0,0,0.81);
  -moz-box-shadow: 0px 0px 47px -5px rgba(0,0,0,0.81);
  box-shadow: 0px 0px 47px -5px rgba(0,0,0,0.81);
}


