$goldenRatio: 1.6180339887498948482;
$centerHeight: 300;
$centerWidth: $centerHeight * $goldenRatio;
$boxHeight: 100;
$boxWidth: $boxHeight * $goldenRatio;
$boxBorderRadius: 6px;

$box-blog-color: red;
$box-social-color: blue;
$box-github-color: green;
$box-misc-color: cyan;


body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


.layout {
  height: 100vh;
  display: grid;

  // prettier-ignore
  grid:
    ". . .      " 1fr
    ". center . " $centerHeight * 1px
    ". . .      " 1fr
    / 1fr ($centerWidth * 1px) 1fr;

  @media (max-width: 512px) {
    // prettier-ignore
    grid: "center"   100vh / 1fr;
  }
}

.container {
  // border: 1px solid blue;
  grid-area: center;

  display: grid;
  // prettier-ignore
  grid:
    "one   .  two " 1fr 
    "three .  four" 1fr 
    / 1fr 1fr 1fr;

  @media (max-width: 512px) {
    // prettier-ignore
    grid: "one"   1fr
          "two"   1fr
          "three" 1fr
          "four"  1fr
         / 1fr;
  }
}

.box {
  width: $boxWidth * 1px;
  height: $boxHeight * 1px;
  border-radius: $boxBorderRadius;
  position: relative;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  .title {
    color: white;
  }

  .body {
    color: hotpink;
  }

  &.blog {
    background-color: $box-blog-color;
    grid-area: one;

    &.clicked {
      left: 0;
      top: 0;
      transform: scale(2.5) translate(40%, 40%);
    }
  }

  &.github {
    background-color: $box-github-color;
    grid-area: three;
    align-self: end;

    &.clicked {
      left: 0;
      top: 0;
      transform: scale(2.5) translate(40%, -40%);
    }
  }

  &.social {
    background-color: $box-social-color;
    grid-area: two;
    justify-self: end;

    &.clicked {
      left: 0;
      top: 0;
      transform: scale(2.5) translate(-40%, 40%);
    }
  }

  &.misc {
    background-color: $box-misc-color;
    grid-area: four;
    justify-self: end;
    align-self: end;

    &.clicked {
      left: 0;
      top: 0;
      transform: scale(2.5) translate(-40%, -40%);
    }
  }

  @media (max-width: 512px) {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

// https://www.cssmatic.com/box-shadow
.shadow {
  -webkit-box-shadow: 0px 0px 47px -5px rgba(0,0,0,0.81);
  -moz-box-shadow: 0px 0px 47px -5px rgba(0,0,0,0.81);
  box-shadow: 0px 0px 47px -5px rgba(0,0,0,0.81);
}